#projectsContainer {
    overflow: scroll;
    overflow-x: auto;
    height: 100%;
}

#projectsContainer .projectList {
    display: flex;
    margin-top: 10vh;
}

#projectsContainer .projectList, #projectsContainer .projectBox {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

#projectsContainer .projectNameBox {
    position: relative;
    flex: 1 1 0px;
    height: var(--ProjectTitleSize);
    width: 200px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%);
    background-color: var(--SecondaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

#projectsContainer .projectNameBox:hover {
    cursor: pointer;
}

#projectsContainer .projectNameBox::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    clip-path: polygon(30% 0%, 70% 0%, 100% calc(50% + 1px), 100% 100%, 0% 100%, 0% calc(50% + 1px));
    background-color: var(--PrimaryColor);
    z-index : -1;
}

#projectsContainer .projectNameBox.active {
    color: var(--PrimaryColor);
}

#projectsContainer .projectNameBox.active::before {
    background-color: var(--SecondaryColor);
}

#projectsContainer .projectNameBox p {
    max-width: 60%;
    text-align: center;
}

#projectsContainer .projectBox {
    border: 1px solid var(--SecondaryColor);
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10vh;
}

#projectsContainer .mainProjectSection {
    height: 20%;
    text-align: center;
}

#projectsContainer .mainProjectSection h2 {
    margin: 10px;
}

#projectsContainer .projectUtils {
    height: 10%;
    display: flex;
    justify-content: space-evenly;
}

#projectsContainer .projectUtils p {
    margin: 10px;
    font-weight: bold;
}

#projectsContainer .carouselContainer {
    height: 70%;
}

#projectsContainer .imageCarousel {
    text-align: center;
    margin: auto;
}