#profileContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileContainer .topContainer, #profileContainer .bottomContainer {
    width: 100%;
    text-align: center;
    overflow: scroll;
}

#profileContainer .topContainer {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 70vh;
    margin-top: 2vh;
}

#profileContainer .bottomContainer {
    height: 30vh;
}

#profileContainer .rightContainer, #profileContainer .leftContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
}

#profileContainer .experienceContainer, #profileContainer .languagesContainer {
    border: 1px solid var(--SecondaryColor);
    flex: 1;
    margin: 10px 1vw;
    padding: 10px;
    text-align: start;
}

#profileContainer .title {
    margin-bottom: 10px;
}

#profileContainer li {
    margin: 5px 0;
}

#profileContainer ul.hobbies {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

#profileContainer .coordinates {
    margin-top: 5vh;
    margin-bottom: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#profileContainer .languagesContainer {
    display: flex;
}

#profileContainer .languagesContainer > div {
    width: 50%;
}

#profileContainer h2 {
    margin-top: 15px;
}