/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: var(--SecondaryColor);
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--PrimaryColor);
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidenav .languages {
    position: absolute;
    top: 12px;
    left: 32px;
}

.sidenav .languages .cleanBorder {
    border: 0;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: var(--SecondaryColor);
    margin: 6px 0;
}
.burgerContainer {
    display: block;
    width: 35px;
}

#navbarContainer {
    padding: 10px;
}